.Login {
  /* border: 1px solid red; */
  padding: 5px;
  height: 98vh;
  display:flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.login-logo-container {
  /* margin-top: 80px; */
  padding: 5px;
  min-width: 350px;
  min-height: 350px;
}

.login-logo-image {
  padding: 20px;
}
